@CHARSET "UTF-8";
/*
 * style.css
 */

*{
	margin:0px;
	padding:0px;
}

body{
  /* padding-top: 50px; */
 background-color:#ccccff;
 
}

.btn-default:hover{
	background-color:#191970;
	color: #fff;
}

#menu{
	background-color:#191970;
}